{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pageName %}Deliver Exams{% endblock pageName %}

{% block style %}{% endblock style %}


{% block content %}
{% if submitted.paginator.count > 0 %}
<div class="agenda">
    <div class="table-responsive">
        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Instructor name</th>
                    <th>Exam</th>
                    <th>Delivery status</th>
                    <th>Undo</th>
                </tr>
            </thead>

            <tbody>
                {% for submission in submitted %}
                <tr>
                    <td>{{ submission.Ins_ID }}</td>
                    <td>
                        <small>Course Name: </small>{{ submission.ID.CCourse.CoName|linebreaks }}
                        <small>Date: </small> {{ submission.ID.E_ID.Date|linebreaks }}
                    </td>
                    <td class="text-center">
                        {% if submission.D_Status %}
                        <i class="material-icons green">check_circle_outline</i>
                        {% else %}
                        <i class="material-icons red">highlight_off</i>
                        {% endif %}
                    </td>

                    <td class="text-center">
                        <a href="{% url 'UndoSubmission' submission.pk %}"
                            data-target="#UndoSubmissionModal{{ submission.pk }}" class="view" data-toggle="modal"><i
                                class="material-icons" data-toggle="tooltip" title="Undo">undo</i></a>
                    </td>
                </tr>

                <div id="UndoSubmissionModal{{ submission.pk }}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-end">
        {% if submitted.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ submitted.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}
        {% for num in submitted.paginator.page_range %}
        {% if submitted.number == num %}
        <li class="page-item disabled"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if submitted.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ submitted.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% else %}
<div class="col-lg-12">
    <div class="text-center">
        <h3><span class="highlight">You have not confirmed any exam</span></h3>
    </div>
</div>
{% endif %}
<a href="{% url 'ExamSubmission' %}" style="color:white;text-decoration:none;">
    <button href="#" type="button" class="btn btn-indigo btn-lg btn-block mb-3" style="background:#75c9e6;">Go
        to exam submission</button>
</a>
{% endblock content %}