{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block pageName %}Invigilator Switch{% endblock pageName %}

{% block content %}

<form role="form" method="post">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    {% csrf_token %}
    <div class="form-group">
      {{ form.First_Ins_ID|as_crispy_field }}
      {{ form.Second_Ins_ID|as_crispy_field }}

    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"><input type="submit" value="Go" class="btn btn-primary btn-block btn-lg" tabindex="7">
      </div>
    </div>
  </div>
</form>

{% endblock content %}