<form action="{% url 'DeleteAccount' account.pk %}" method="post">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Delete Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete ( 
            <b>{{ account.Ins_ID }}</b>
             ) Account?</p>
        <p class="text-warning"><small>This action cannot be undone.</small></p>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" class="btn btn-danger" value="Delete">
    </div>
</form>